<div class="container">
    <div class="row">
        <div class="col-4">
            <label class="label label-default" for="">Nombre:</label>
          </div>
        <div class="col-4">
        <input  class="form-control" type="text" placeholder="Nombre pokemon" [(ngModel)]="nombrePokemon">
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="search()">Buscar</button>
      </div>
    </div>
    <hr>
    <div class="row">
          <img src="{{urlImg}}" alt="Imagen del pokemon">
    </div>
  </div>