<div class="container">
  <div class="abs-center">
    <h3 class="display-8" >pokedex</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Poder</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Pikachu</td>
          <td>90</td>
          <td>Electrico</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
